node_modules
dist
.next
*.tgz
*.log
.zones-cache
.zones-store*
.zones-compose
.doctor-zones
.zones-dev
next-env.d.ts
*.tsbuildinfo
.localdeps
.release
.zones-images
.single
.handler
.rebuild
.single-standalone
.single-export
.zones-standalone
.zones-export-check
.zones-export
.zones-app
spikes/zones/fixtures/wide/app/wide/many/
